@font-face {
    font-family: 'Ping';
    src: local('Ping Light'), local('Ping-Light'),
        url('PingLCG-Light.woff2') format('woff2'),
        url('PingLCG-Light.woff') format('woff'),
        url('PingLCG-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }